<div id="menu" class="menu">
	{{> profil.header hidden="" imgSize=64 padding=4 h=3}}
	<div class="hidden-sm-up">
		{{> search }}
	</div>
	<div class="list-group">
		<a href="/profil/accueil/" class="{{#ifCond url.pathname '/profil/accueil/'}}active{{/ifCond}} list-group-item list-group-item-action"><span class="fa fa-home"></span><span>Accueil</span></a>
		<a href="/profil/actualite/" class="{{#ifCond url.pathname '/profil/actualite/'}}active{{/ifCond}} list-group-item list-group-item-action"><span class="fa fa-newspaper-o"></span><span>Mes actualités</span></a>
		<a href="/profil/amis/" class="{{#ifCond url.pathname '/profil/amis/'}}active{{/ifCond}} list-group-item list-group-item-action"><span class="fa fa-address-book"></span><span>Mes amis</span></a>
		<a href="/profil/messagerie/" class="{{#ifCond url.pathname '/profil/messagerie/'}}active{{/ifCond}} list-group-item list-group-item-action"><span class="fa fa-envelope"></span><span>Ma messagerie</span></a>
		<a href="/profil/info/" class="{{#ifCond url.pathname '/profil/info/'}}active{{/ifCond}} list-group-item list-group-item-action"><span class="fa fa-user"></span><span>Mes infos</span></a>
		<a href="/logout/" class="list-group-item list-group-item-action"><span class="fa fa-power-off"></span><span>Deconnexion</span></a>
	</div>
</div>