<div class="mb-4 bg-white">
	<div class="container">
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item">
			<a class="nav-link {{#ifCond url.pathname '/profil/accueil/'}}active{{/ifCond}} " href="/profil/accueil/"><span class="fa fa-home hidden-md-up"></span><span class="hidden-sm-down">accueil</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{#ifCond url.pathname '/profil/actualite/'}}active{{/ifCond}} " href="/profil/actualite/"><span class="fa fa-newspaper-o hidden-md-up"></span><span class="hidden-sm-down">actualite</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{#ifCond url.pathname '/profil/amis/'}}active{{/ifCond}} " href="/profil/amis/"><span class="fa fa-address-book hidden-md-up"></span><span class="hidden-sm-down">amis</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{#ifCond url.pathname '/profil/messagerie/'}}active{{/ifCond}} " href="/profil/messagerie/"><span class="fa fa-envelope hidden-md-up"></span><span class="hidden-sm-down">messagerie</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{#ifCond url.pathname '/profil/infos/'}}active{{/ifCond}} " href="/profil/infos/"><span class="fa fa-info-circle hidden-md-up"></span><span class="hidden-sm-down">infos</span></a>
		</li>
	</ul>
	</div>
</div>