<section class="mb-4 container">
	<div class="media bg-primary text-white p-4">
		<img class="d-flex mr-3 rounded-circle" width=64 src="{{getAvatar user._id user.avatar}}" alt="Generic placeholder image">
		<div class="media-body">
			<div class="row">
				<div class="col-12 form-group">
					<textarea class="form-control" placeholder="Quoi de neuf ?"></textarea>
				</div>
				<!--<div class="col-12 form-group">
					<img width="100%" src="{{posts.[0]}}"/>
				</div>-->
				<div class="col-12">
					<button class="btn btn-reverse" type="submit"><span class="fa fa-picture-o"></span></button>
					<button class="btn btn-success" type="button"><span class="fa fa-paper-plane"></span></button>
				</div>
			</div>
		</div>
	</div>
</section>