<div class="header mb-4 p-4">
	<h1><span class="fa fa-circle-o-notch"></span> {{ conf.app.title }}</h1>
	<p>{{ conf.app.shortSlogan }}</p>
</div>

<div class="container">
	<div class="p-4 bg-white">
		<span class="h1 text-primary">500</span>
		<p>{{error}}</p>
		<a class="btn btn-primary" href="/" role="button">Accueil</a>
	</div>
</div>	